.App {
  text-align: center;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 10px;
}
.App-header {
  background-image : url(./boardImg.jpg);
  background-position: center;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.heading{
  color: #050505;
  font-family: "Times New Roman", Times, serif;
}
.ref {
  color: #520303;
  font-family: "Cursive";
  margin-bottom: 0;
  margin-top:0;
}
.name{
  margin-bottom: 0;
  margin-top:0;
}
.link{
  color: #f7f7f4;
  font-size: 20px;
}
.postItpad{
  height: 200px;
  width : 200px;
  background-color: rgb(27, 174, 233);
  position:absolute;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
}
.postHeading{
  font-size: 15px;
  font: smaller;
  font-family: "Cursive";
  margin-top: 10px;
  margin-bottom: 5px;
}
.Add{
  position:absolute;
  top:10px;
  left: 5px;
  border-style: solid;
  border-color:#C7CFB7;
  cursor: pointer;
}
.Delete{
  position: absolute;
  top:10px;
  right: 5px;
  border-style: solid;
  border-color:#C7CFB7;
  cursor: pointer;
}
.postItpad{
  height: 200px;
  width : 200px;
  background-color: rgb(85, 188, 248);
  position:absolute;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
}
.floatingTooltip {
  position:absolute;
  display:block;
  color:white;
  top:-155px;
  left:-225px; 
}
.UserMessage{
  text-align: center;
  font-size: 33px;
  background-color: rgb(68, 5, 5);
  color: #f7f7f4;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 50px;
  z-index: 2;
  float: top;
  position: absolute;
  width: 100%;
}
.logOutButton{
  text-align: center;
  height: 30px;
  width: 100px;
  margin:20px;
  border-radius: 10px;
  border:none;
  position: absolute;
  top: 1px;
  right: 20px;
  background-color: rgba(11, 213, 248, 0.986);
  background-image: linear-gradient(to right, rgb(18, 209, 243) , yellow);
  transition: 0.3s all;
  font-size: 20px;
  cursor: pointer;
  margin-top:9px;
  color: rgb(255, 255, 255);
}
.logOutButton:hover {
  background-color: rgba(78, 74, 74, 0.45);
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.05);
}
.homeButton{
  height: 50px;
    width: 200px;
    border-radius: 10px;
    border:none;
    position: relative;
    background-color: rgba(8, 245, 174, 0.986);
    transition: 0.3s all;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
    color: aliceblue;
    margin-left: 20px;
}
.homeButton:hover {
  background-color: rgba(78, 74, 74, 0.45);
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.05);
}



